.form_submit_button {
  padding: 16px;
  margin: 16px 0 12px;
  width: 100%;

  border-radius: 8px;

  background: #FF7A00;
  color: #fff;

  transition: all 0.2s;

  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.7px;

  &:hover {
    filter: brightness(110%);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}